body{
   
  background:  url("https://i.pinimg.com/564x/7f/c9/9e/7fc99ec3d477b3ff07844aba87d60ddf.jpg") no-repeat fixed center; 
  background-size: cover;
   background-color: rgba(255, 255, 255, 0.7);
 background-blend-mode: lighten;
  position: center;

}

h2{ color: black;
  
  
}



.nav{
  background-color: #C5ACAA;
  width: 100%;
  display: block;
  padding: 2px;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding:15px;
  background-color: white;
  
}
#box2{
  background-color:white;
    width:px;
    height:320px;
  padding:35px;
  border: 5px ;
  margin-bottom:15px;
  margin-left:15px;
}

#box3{
  background-color:pink;
  width:350px;
  height: 250px;
  padding:35px;
  border:5px solid brown;
  margin-bottom:15px;
  margin-left:15px;
}

.container-1{
  
  
  display:flex;
  
}

.row{
  display:flex;
  justify-content: space-between;
}

.box{
  height:150px;
  width:45% ;
  background-color: #C5ACAA;
  margin:5px;
  display:flex;
}

h3{
  background-color: white;
  
  
}
